/* Estilo de barra header */
#barra_superior_1 
{
    width: 1024px;
    height: 20px;
    background-color: black;
    color:white;
}
/* Segunda Barra header */
#barra_superior_2
{
    width: 1024px;
    height: 62px;
    background-color: #F0A83E;
}
/* Tercer segmento  */
#tercer_segmento
{
    width: 1024px;
    height: 409px;
    background-image: url("TP_repo_integrador\img\plato_comida_perro.jpg");
    background-position: left;
    background-color:transparent;
}
#segmento_dentro_tercero
{
    width: 365px;
    height: 54px;
}
/* Barras navegacion */
nav 
{
    text-align: right;
}
/* Logo */
.logo 
{
    float: left;
}